{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <button><a class="text-muted" href="{{ path('logout') }}">logout </a></button>
    <h1>Liste des Comptes</h1>
    {% for User in Users %}
        <article>
            <table>
                <tr>
                    <td>{{User.Id}}</td>
                    <td>{{User.Nom}}</td>
                    <td>{{User.Prenom}}</td>
                    <td>{{User.Pseudo}}</td>
                    <td><button><a class="text-muted" href="{{ path("modif_user", {id: User.Id}) }}">éditer</a></button></td>
                    <form action="{{ path('sup_user', {id: User.Id}) }}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ User.Id) }}">
                        <button>Supprimer</button>
                    </form>
                </tr>
            </table>
        </article>
    {% endfor %}
    <div></div>
    <button><a class="text-muted" href="{{ path('article') }}">liste des articles</a></button>
{% endblock %}
